
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(7, 239, 239)
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
}
.container{
    position: relative;
}
.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(6, 57, 66);
    border: 9px solid rgb(20, 241, 219);
    box-shadow: 0 0 130px rgb(7, 239, 239);
    display: flex;
    justify-content: center;
    align-items: center;
}
.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
    box-shadow: 0px 0px 20px rgb(7, 239, 239);
}
.clock span b{
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;
    text-shadow:0 0 10px;
}
.clock::before{
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: rgb(3, 255, 251);
    border-radius: 50%;
    z-index: 4;
    box-shadow: 0 0 5px;
    
}
.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hand i{
    position: absolute;
    background-color: var(--clr);
    border: 1px solid;
    width: 5px;
    height: var(--h);
    border-radius: 8px;
}
